.box {
    padding: 10px;
    .name {
        padding: 10px;
        .sex {
            padding: 10px;
            .label {
                padding: 10px;
            }
        }
    }
    .avater {
        padding: 10px;
    }
    .message {
        padding: 10px;
    }
}